name: JSON Lint

on:
  push:
    branches:
      - main

jobs:
  json-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: json-lint
        uses: dungpham91/lint-json-inside-yaml@main
        with:
          folder_or_file: ./test-data
