name: JSON Lint

on:
  push:
    branches:
      - main

jobs:
  json-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: json-lint
        uses: dungpham91/lint-json-inside-yaml@main
        with:
          folder_or_file: ./test-data
